[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "*"
install = "*"
alpaca-trade-api = "*"
websockets = "*"
asyncio = "*"
websocket-client = "*"
wscat = "*"

[requires]
python_version = "3.7"
